.hirigana {

    div{
        box-shadow: 2px,2px,2px,2px, 5px;
    }

    .board {
        @include smooth;
        height: 400px;
        background: $off-white;
        border: $off-black 2px solid;
        margin-bottom: 5px;
    }

    .left,
    .right {
        @include span(1);
        display: inline-block;
        vertical-align: top;        
    }

    .center {
        @include smooth;
        @include span(10);
        background: $off-white;
        border: $off-black 2px solid;
        display: inline-block;
        height: 120px;
    }
    .card{
        @include side-margin(10px);
        @include smooth;
        display: inline-block;
        height: 90px;
        width:80px;
        border: $off-black solid 2px;
        margin-top: 15px;

    }
}
