<!DOCTYPE html>
<html ng-app="hirikata">
    <head>
        <title>HiriKata</title>
        @Styles.Render("~/Content/css")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
    </head>
    <body>
        <div class="nav">
            <div class="main">
                <a href="/#/">
                    <span class="logo">
                        HiriKata
                    </span>
                </a>
                <div class="courses">
                    <a href="/#/hirigana">Hirigana</a>
                    <a href="/#/katakana">Katakana</a>
                    <a href="/#/games" ng-show="user">Games</a>
                </div>
                

                    <div class="auth" ng-controller="navCtrl as nav">
                        <a href="#/register" class="btn btn-toolbar" ng-hide="user"><button>Register</button></a>
                        <a href="#/login" class="btn btn-toolbar" ng-hide="user"><button>Login</button></a>
                        {{user.username}}
                        <button ng-click="logout()" ng-show="user">Log Out</button>
                    </div>
            </div>

        </div>
        <div class="content">
           <div ng-view>

           </div>

        </div>
    </body>
@Scripts.Render("~/bundles/jquery")
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
@Scripts.Render("~/bundles/angular")
</html>

