<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hirikata.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hirikata.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hirikata</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$hirikata</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HiriKata.Models.WordDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ixil5t17o0.database.windows.net,1433;Initial Catalog=hirikata_db;User ID=Words@ixil5t17o0;Password=Mealex123" Name="Data Source=tcp:ixil5t17o0.database.windows.net,1433;Initial Catalog=hirikata_db;User Id=Words@ixil5t17o0;Password=Mealex123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HiriKata.Models.WordDbContext, HiriKata" MigrationConfiguration="HiriKata.Migrations.Configuration, HiriKata" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:ixil5t17o0.database.windows.net,1433;Initial Catalog=hirikata_db;User ID=Words@ixil5t17o0;Password=Mealex123" Name="Data Source=tcp:ixil5t17o0.database.windows.net,1433;Initial Catalog=hirikata_db;User Id=Words@ixil5t17o0;Password=Mealex123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-HiriKata-20150313091049.mdf;Initial Catalog=aspnet-HiriKata-20150313091049;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-HiriKata-20150313091049.mdf;Initial Catalog=aspnet-HiriKata-20150313091049;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AuthContext" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:ixil5t17o0.database.windows.net,1433;Initial Catalog=hirikata_db;User ID=Words@ixil5t17o0;Password=Mealex123" Name="Data Source=tcp:ixil5t17o0.database.windows.net,1433;Initial Catalog=hirikata_db;User Id=Words@ixil5t17o0;Password=Mealex123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sqlexpress;Initial Catalog=AngularJSAuth;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AuthContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\sqlexpress;Initial Catalog=AngularJSAuth;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ixil5t17o0.database.windows.net,1433;Initial Catalog=hirikata_db;User Id=Words@ixil5t17o0;Password=Mealex123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ixil5t17o0.database.windows.net,1433;Initial Catalog=hirikata_db;User Id=Words@ixil5t17o0;Password=Mealex123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HiriKata.Models.WordDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ixil5t17o0.database.windows.net,1433;Initial Catalog=hirikata_db;User Id=Words@ixil5t17o0;Password=Mealex123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="HiriKata.Models.WordDbContext" />
  </ItemGroup>
</Project>